/* YOUR STYLES */

body {
    background: black;
}

h1 {
    color: #a10022;
}


/*Header*/
.cd-header {
    background: #a10022;
}

/*Content Containers*/
.cd-gallery li {
    background: white;
    padding: 1em;
}

/*Grid View*/

.grid li.mix {
    background: red;
}


/*List View*/

.list li.mix {
    background: blue; 
}